<h1>Solutions Gallery</h1>

<ul class="problems">
	<% @problems.each do |problem| %>
		
		<li>
			<span><%= problem.question %></span>
			<%= link_to 'View Gallery', problem_solutions_path(problem), class: :button %>
		</li>
		
	<% end %> 
</ul>