<h1>Problems to Draw</h1>

<ul class="problems">
	<% @problems.each do |problem| %>
		
		<div class="row">
			<li>
				<span><%= problem.question %></span>
				<%= link_to 'Draw!', new_problem_solution_path(problem), class: :button, 'data-ajax' => false %>
			</li>
		</div>
		
	<% end %> 
</ul>

