<h1>Math Problems to Solve</h1>

<ul class="problems">
	<% @problems.each do |problem| %>
		
		<li>
			<%= problem.id %>.
			<span><%= problem.question %></span>
			<%= link_to 'Solve!', new_problem_solution_path(problem), class: :button, 'data-ajax' => false %>
		</li>
		
	<% end %> 
</ul>

