<script>
	$('div.nav').remove();
</script>

<h1 class="text_align_center title">Math Canvas</h1>
<%= image_tag "mathcanvaslogo.png", id: :logo %>
<div class="float_right intro_text">
	<p>Math Canvas is a place where students can draw out solutions to math problems, using artwork to illustrate their individual thinking processes. </p>
	<p>Math Canvas promotes the following:</p>
	<ul class="intro_list">
		<li>Individuality -- each student’s process for solving a problem may be very different from others</li>
		<li>Creativity -- students represent their mathematical thinking using drawings and symbols, not just with numbers</li>
		<li>Learning from others -- students can see how others solve a problem, introducing them to alternative ways of thinking</li>
		<li>Critical thinking and problem solving -- drawing allows students to explain their thinking visually, with a focus on understanding how they get to the answer vs. just the answer itself</li>
	</ul>
	<p>Feel free to also <%= link_to 'Free Draw', new_free_draw_path %>!</p>
	<p>Try Math Canvas on both computers and touchscreen devices.</p>
</div>
<p class="float_right intro_text"><%= link_to 'Start Drawing!', problems_solve_path, class: :button, id: 'start_drawing' %></p>
<p class="footer_text">Math Canvas was created at <a href="http://www.codingdojo.com" target="_blank">Coding Dojo</a> by <a href="http://www.maymillerricci.com" target="_blank">May Miller-Ricci</a>.  If you have any questions or comments, please contact me at <a href="mailto:maymillerricci@gmail.com">maymillerricci@gmail.com</a>.</p>

