<script>
	// $('div.nav').remove();
	$('div.nav').remove();
	// $('div.nav .logo_small').remove();
	// $('div.nav').css('padding-top', '284px');
	// <h2 class="navtitle">Math Canvas</h2>
				// <%= image_tag "mathcanvaslogo.png", class: :logo_small %>
</script>

<h1 class="text_align_center title">Math Canvas</h1>
<%= image_tag "mathcanvaslogo.png", id: :logo %>
<p class="float_right intro_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p class="float_right intro_text"><%= link_to 'Start Solving!', problems_solve_path, class: :button %></p>

