/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.mobile
 *= require_tree .
 */

@font-face {
  font-family: 'vaground';
  src: url('vaground.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
	width: 960px;
	margin: 0 auto;
	font-family: 'vaground', 'Arial Rounded MT Bold', Arial, sans-serif;
	font-size: 150%;
}



div.nav {
	background-color: rgb(55, 96, 76);
	border-radius: 20px;
	width: 180px;
	font-size: 90%;
	float: left;
	margin: 30px 0px;
	padding: 20px 0px;

}
div.nav div.main_link {
	width: 152px;
	/*background-color: red;*/
	margin-left: -40px;
	padding-left: 20px;
}
div.container div.nav a.ui-link, div.nav h2 {
	color: white;
	text-shadow: none;
}
div.nav h2 {
	text-align: center;
	font-size: 210%;
	margin: 20px 0px;
}
div.nav div.active.main_link {
	background-color: white;
	border: 4px solid rgb(55, 96, 76);
}
div.nav div.active a.ui-link {
	color: rgb(55, 96, 76);
}


div.main_content {
	width: 750px;
	float: left;
	margin: 30px 0px;
	padding-left: 30px;
}

img.logo_small {
	width: 170px;
	height: 140px;
	margin-left: 5px;
}