// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	list-style: none;
}
li {
	padding: 25px 0px;
	font-size: 120%;
}
li span {
	padding: 0px 30px;
}
div.container a.button.ui-link, div.container ul a.button.ui-link, input#save.btn.button.ui-btn-hidden {
  background-color: slateblue;
  color: white;
  font-size: 90%;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-shadow: none;
}

table {
	border-collapse: collapse;
  	margin: 50px 10px 10px 10px;
}
th, td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center
}

