// Place all the styles related to the Solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-body-c {
	background-image: none;
	background-color: white;
}
form#new_solution {
	width: 40%;
	margin: 70px 0px;
}
#canvas {
	border: 3px solid black;
	float: left;
	cursor: crosshair;
	background-color: white;
	margin: 5px 5px 5px 0px;
}
div.picker {
	float: left;
}
.choice {
	width: 40px;
	height: 40px;
	margin: 10px 5px;
	border: 1px solid black;
}
#marker img, #crayon img, #eraser img {
	width: 40px;
	height: 40px;
}
.draggable {
	position: absolute;
	width: 60px;
	height: 60px;
}
.img {
	width: 50px;
	display: inline-block;
	margin: 10px;
}
div#marker.highlight img, div#eraser.highlight img {
	width: 36px;
	height: 36px;
}
#drag_picker {
	clear: both;
}
.highlight {
	margin: 4px 2px 7px 5px;
	border: 4px solid black;
	width: 34px;
	height: 34px;
}
.top_choice.highlight {
	margin: 10px 2px 7px 5px;
}
#purple {
	background-color: #660099;
}
#blue {
	background-color: #00008A;
}
#green {
	background-color: #336633;
}
#yellow {
	background-color: #FFFF33;
}
#orange {
	background-color: #FF7519;
}
#red {
	background-color: #CC0000;
}
#pink {
	background-color: #FF0066;
}
#lightpurple {
	background-color: #CC99FF;
}
#darkpurple {
	background-color: #6633CC;
}
#mediumblue {
	background-color: #3366CC;
}
#seagreen {
	background-color: #33CCCC;
}
#lightgreen {
	background-color: #99FF00;
}
#lightyellow {
	background-color: #FFFF99;
}
#salmon {
	background-color: #FF6666;
}
#black {
	background-color: #000000;
}
#brown {
	background-color: #5C2E00;
}
#darkgray {
	background-color: #666666;
}
#lightgray {
	background-color: #CCCCCC;
}
#lightblue {
	background-color: #99CCFF;
}
#teal {
	background-color: #008080;
}
#lightpink {
	background-color: #FF99CC;
}
div#clear_button {
	width: 100px;
	height: 40px;
	float: right;
	margin-top: -60px;
	margin-right: 30px;
}
#clear {
	font-size: 1em;
	border-radius: 10px;
}
.line {
	height: 40px;
	background-color: #660099;
	margin: 0 auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.highlight .line {
	height: 34px;
}
#line_small {
	width: 4px;
}
#line_normal {
	width: 9px;
}
#line_large {
	width: 14px;
}
#line_huge {
	width: 19px;
}
#line_gigantic {
	width: 25px;
}
img.solution {
	border: 3px solid black;
}


ul#solutions_list li {
	padding: 10px 0px;
}
#solutions_list img {
	margin-bottom: 30px;
}

#free_draw {
	float: right;
	margin-right: 200px;
}
#free_draw_gallery {
	float: right;
	margin-right: 260px;
	margin-top: -60px;
}

li a#like.ui-link img {
 width: 50px;
 margin-bottom: -12px;
 margin-left: -22px;
}

p.success {
	color: darkgreen;
	margin-left: 10px;
}