// Place all the styles related to the Solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-body-c {
	background-image: none;
	background-color: white;
}
form#new_solution {
	width: 40%;
	margin: 70px 0px;
}
#canvas {
	border: 3px solid black;
	float: left;
	cursor: crosshair;
	background-color: white;
	margin: 5px 0px 5px -20px;
}
div.picker {
	float: left;
}
.choice {
	width: 40px;
	height: 40px;
	margin: 10px 5px;
	border: 1px solid black;
}
#marker img, #crayon img, #eraser img {
	width: 40px;
	height: 40px;
}
.draggable {
	position: absolute;
	width: 60px;
	height: 60px;
}
.img {
	width: 50px;
	display: inline-block;
	margin: 10px;
}
#drag_picker {
	margin-left: -30px;
	clear: both;
}
.highlight {
	margin: 7px 0px 0px 2px;
	border: 4px solid black;
}
#purple {
	background-color: #660099;
}
#blue {
	background-color: #3333CC;
}
#green {
	background-color: #336633;
}
#yellow {
	background-color: #FFFF33;
}
#pink {
	background-color: #CC0099;
}
h3#drawing_problem {

}
div#clear_button {
	width: 100px;
	height: 40px;
	float: right;
	margin-top: -90px;
}
#clear {
	font-size: 1em;
	border-radius: 10px;
}
.line {
	height: 40px;
	/*background-color: #660099;*/
	background-color: gray;
	margin: 0 auto;
}
#line_small {
	width: 5px;
}
#line_normal {
	width: 10px;
}
#line_large {
	width: 15px;
}
#line_huge {
	width: 20px;
}
img.solution {
	border: 3px solid black;
}
#draw_this_problem {
	margin: 40px 0px 0px 300px;
}

ul#solutions_list li {
	padding: 10px 0px;
}
#solutions_list img {
	margin-bottom: 30px;
}