// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text_align_center {
	text-align: center;
}
img#logo {
	width: 310px;
	height: 220px;
	padding: 30px 0px 0px;
	float: left;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.intro_text {
	width: 580px;
}
h1.title {
	font-size: 300%;
	padding: 50px 0px;
}